openapi: 3.0.2
info:
  title: Circonus Application Programming Interface
  description: >
    The Circonus API provides an interface to programmatically access the
    functionality of the Circonus system.
servers:
  - url: 'https://api.circonus.com'
security:
  - Auth-Token: []
paths:
  /account/current:
    get:
      tags:
        - Account
      summary: >-
        Retrieves account object for the account this API token is associated
        with.
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Account
      summary: Updates details for the current account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          description: |
            A json object containing details about the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/account/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Account
      summary: Retrieves details for a specific account.
      responses:
        '200':
          description: |
            A json object containing details about the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Account
      summary: Updates details for a specific account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          description: |
            A json object containing details about the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /acknowledgement:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Acknowledgement
      summary: Retrieves acknowledgements for the current account.
      responses:
        '200':
          description: >
            An array containing acknowledgements associated with the request
            account, or narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Acknowledgement'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Acknowledgement
      summary: Creates a new acknowledgement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Acknowledgement'
      responses:
        '200':
          description: |
            A json object containing details about the acknowledgement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/acknowledgement/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Acknowledgement
      summary: Retrieves details for a specific acknowledgement.
      responses:
        '200':
          description: |
            A json object containing details about the acknowledgement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Acknowledgement
      summary: Updates details for a specific acknowledgement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Acknowledgement'
      responses:
        '200':
          description: |
            A json object containing details about the acknowledgement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /alert:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Alert
      summary: >-
        Fetch an array of all active alerts. By default only active alerts are
        searched or returned, but inactive alerts can be searched by specifiying
        `search=(active:false)` in the search terms. By default, only alerts
        occurring within the past 30 days will be searched. Any other range of
        time for occurred_on can be searched using the `occurred_on_start`
        and / or `occurred_on_end` search terms, but the /alert endpoint is
        limited to searching a total time range of no longer than 30 days. 
      responses:
        '200':
          description: |
            An array of alert objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/alert/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Alert
      summary: Retrieves details for a specific alert.
      responses:
        '200':
          description: |
            A json object containing details about the alert.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Alert
      summary: Updates details for a specific alert.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Alert'
      responses:
        '200':
          description: |
            A json object containing details about the alert.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/alert/{id}/clear':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    post:
      tags:
        - Alert
      summary: >-
        Allows an alert to be forced cleared.  Useful for clearing tag-based
        rules on ephemeral instances that have gone away, and thus will never
        clear on their own.  Please note that if the underlying metric is still
        sending values that trigger a rule, a new alert will be created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertForceClear'
      responses:
        '200':
          description: >
            A json object containing details about the alert that was forced
            cleared.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertForceClearResponse'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /annotation:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Annotation
      summary: Retrieves annotations for the current account.
      responses:
        '200':
          description: >
            An array containing annotations associated with the request account,
            or narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Annotation'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Annotation
      summary: Creates a new annotation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Annotation'
      responses:
        '200':
          description: |
            A json object containing details about the annotation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotation'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/annotation/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Annotation
      summary: Retrieves details for a specific annotation.
      responses:
        '200':
          description: |
            A json object containing details about the annotation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotation'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Annotation
      summary: Updates details for a specific annotation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Annotation'
      responses:
        '200':
          description: |
            A json object containing details about the annotation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotation'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Annotation
      summary: Removes the specified annotation.
      responses:
        '200':
          description: |
            The annotation was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /broker:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
        - in: query
          name: check_counts
          schema:
            type: boolean
            default: true
          description: |
            If set to false or 0, tells the system to not perform check counting
            for the brokers returned. This can improve response speed.
      tags:
        - Broker
      summary: Retrieves broker configuration details for the current account.
      description: >
        Retrieves the configuration details for brokers used by the account that
        initiated the API request. Accepts search and pagination parameters for
        narrowing the available results.
      responses:
        '200':
          description: >
            An array containing broker configuration information for all brokers
            associated with the request account, or narrowed using search and
            pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Broker'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/broker/{id}':
    get:
      tags:
        - Broker
      summary: Retrieves details for the specified broker by ID.
      description: >
        Retrieves the configuration details for a broker specified by the ID in
        the request path.
      parameters:
        - in: query
          name: check_counts
          schema:
            type: boolean
            default: true
          description: |
            If set to false or 0, tells the system to not perform check counting
            for the brokers returned. This can improve response speed.
        - in: path
          name: id
          description: |
            The broker ID of the configuration details to retrieve.
          required: true
          schema:
            type: integer
            format: int64
            example: 1
      responses:
        '200':
          description: Broker configuration information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broker'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /caql:
    get:
      tags:
        - CAQL
      summary: >-
        Run a CAQL query and return the data results.  CAQL documentation can be
        found at https://docs.circonus.com/caql/
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: true
          description: |
            A well-formed CAQL query
        - in: query
          name: start
          schema:
            type: integer
            default: 60 seconds before the 'end' value
          description: >-
            The start time, in epoch seconds, of the period you wish to query
            data from
        - in: query
          name: end
          schema:
            type: integer
            default: '5 minutes before the current time, rounded to the nearest minute'
          description: >-
            The end time, in epoch seconds, of the period you wish to query data
            from
        - in: query
          name: period
          schema:
            type: integer
            default: 60
          description: 'The resolution of data, in seconds, you want to get back'
        - in: query
          name: format
          schema:
            type: string
            enum:
              - DF1
              - DF4
            default: DF1
          description: Format of the data response.  DF4 is recommended for all but the simpliest queries.
      responses:
        '200':
          description: |
            The query results
          headers:
            X-Circonus-Cached-Result:
              schema:
                type: boolean
              description: |
                Indicates that the response was pulled from the query cache.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CAQLResponse'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          headers:
            X-Circonus-Cached-Result:
              schema:
                type: boolean
              description: |
                Indicates that the response was pulled from the query cache.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /check:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Check
      summary: Fetch an array of checks.
      responses:
        '200':
          description: >
            An array containing checks, potentially narrowed using search and
            pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Check'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/check/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Check
      summary: Retrieves details for a specific check.
      responses:
        '200':
          description: |
            A json object containing details about the check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Check'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /check_bundle:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Check Bundle
      summary: Fetch an array of check bundles.
      responses:
        '200':
          description: >
            An array containing check bundles, potentially narrowed using search
            and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheckBundle'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      parameters:
        - in: query
          name: duplicate
          schema:
            type: integer
          description: >-
            If set to 1, tells the system to not do duplicate checking and
            always create the check.
        - in: query
          name: dedupe_params
          schema:
            type: string
            format: comma separated values
          description: >
            This takes a comma separated list of config values to use in the
            de-duplication comparison. This parameter will also take
            display_name to include the name in the comparison. Using this param
            with no values will use an empty list for comparison and in effect
            will only use target, brokers, and type.
      tags:
        - Check Bundle
      summary: >
        Creates a new check bundle.  During the creation process, new POST
        requests are de-duplicated against existing bundles. The criteria for
        considering a bundle duplicate is that is has the same target, brokers,
        type, and config as an existing bundle. Note that name is not considered
        when comparing bundles.  If a duplicate bundle is found, the existing
        bundle will be returned to your request unaltered. It is up to the
        client to make sure it is correct. To alter the bundle you must issue a
        PUT to the appropriate cid.  Two query string parameters can alter
        de-duplication behavior:  `duplicate` or `dedupe_params`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckBundle'
      responses:
        '200':
          description: |
            A json object containing details about the check bundle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckBundle'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/check_bundle/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Check Bundle
      parameters:
        - in: query
          name: fetch_broker_state
          schema:
            type: integer
            minimum: 0
            maximum: 1
            default: 0
          description: >
            If set to 1, additional data from broker is returned in the _check_status field.
            Only available for checks on enterprise brokers.
            Status may be cached/unchanged if it has been recently requested.
        - in: query
          name: query_broker
          schema:
            type: integer
          description: >
            If the query_broker=1 query parameter is passed the `metrics` field
            in the response will also include any additional metrics that are
            available for collection but are not currently active.
            Only available for checks on enterprise brokers.
      summary: Retrieves details for a specific check bundle.
      responses:
        '200':
          description: |
            A json object containing details about the check bundle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckBundle'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Check Bundle
      summary: Updates details for a specific check bundle. When making PUT
        requests, any top-level request field not included in the request body,
        or sent as `null`, will keep the existing value for that field for the
        check bundle. But, if any value is provided for a top-level field, that
        value will entirely replace the existing value. For example, if a
        request were made without any "config" field, the existing check
        configuration would be kept. But, if a request were made with
        `"config":{"url":"http://test.com"}`, the existing configuration will
        be replaced, and any existing configuration settings other than "url",
        and any defaults, would be removed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckBundle'
      responses:
        '200':
          description: |
            A json object containing details about the check bundle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckBundle'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Check Bundle
      summary: >
        You cannot completely remove check bundles from the system (the details
        of the check bundle will always be accessible by performing a GET on the
        check bundle's cid). However, you can hide the check bundle from the web
        interface and from API listings through this method.  Calling this is
        equivalent to setting the status to 'disabled'.
      responses:
        '200':
          description: |
            The check bundle was successfully disabled.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/check_bundle_metrics/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Check Bundle Metrics
      summary: >-
        Retrieves metric details for a specific check bundle.  This is a
        convenience method for check bundles.
      responses:
        '200':
          description: >
            A json object containing details about only the metrics on a check
            bundle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckBundleMetrics'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Check Bundle Metrics
      summary: >-
        Updates metrics for a specific check bundle.  This is a convenience
        method for check bundles.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckBundleMetrics'
      responses:
        '200':
          description: |
            A json object containing details about the check bundle metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckBundleMetrics'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /check_move:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Check Move
      summary: Fetch a list of all pending move requests
      responses:
        '200':
          description: >
            An array containing check move objects, potentially narrowed using
            search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheckMove'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Check Move
      summary: Creates a new check move request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckMove'
      responses:
        '200':
          description: |
            A json object containing details about the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckMove'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/check_move/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Check Move
      summary: Retrieves details for a specific move request.
      responses:
        '200':
          description: |
            A json object containing details about the check move request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckMove'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Check Move
      summary: Updates details for a specific move request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckMove'
      responses:
        '200':
          description: |
            A json object containing details about the move request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckMove'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Check Move
      summary: Removes the specified move request.
      responses:
        '200':
          description: |
            The move request was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /contact_group:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Contact Group
      summary: Fetch a list of contact groups.
      responses:
        '200':
          description: >
            An array containing contact group objects, potentially narrowed
            using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactGroup'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Contact Group
      summary: Creates a new contact group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactGroup'
      responses:
        '200':
          description: |
            A json object containing details about the contact group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGroup'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/contact_group/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Contact Group
      summary: Retrieves details for a specific contact group.
      responses:
        '200':
          description: |
            A json object containing details about the contact group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGroup'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Contact Group
      summary: Updates details for a specific contact group.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactGroup'
      responses:
        '200':
          description: |
            A json object containing details about the contact group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactGroup'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Contact Group
      summary: >-
        Removes the specified contact group.  This will have the effect of
        removing them from all rule sets that are currently using them.
      responses:
        '200':
          description: |
            The contact group was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /custom_dashboard:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Custom Dashboard
      summary: Fetch a list of custom dashboards.
      responses:
        '200':
          description: >
            An array containing custom dashboard objects, potentially narrowed
            using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomDashboard'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Custom Dashboard
      summary: Creates a new custom dashboard.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDashboard'
      responses:
        '200':
          description: |
            A json object containing details about the custom dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDashboard'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Custom Dashboard
      summary: Retrieves details for a specific custom dashboard.
      responses:
        '200':
          description: |
            A json object containing details about the custom dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDashboard'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Custom Dashboard
      summary: Updates details for a specific custom dashboard.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDashboard'
      responses:
        '200':
          description: |
            A json object containing details about the custom dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDashboard'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Custom Dashboard
      summary: Removes the specified custom dashboard and any widgets used by it.
      responses:
        '200':
          description: |
            The dashboard and dependant widgets were successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /custom_dashboard/metric_query:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Custom Dashboard
      summary: Fetch a list of custom dashboard metric queries.
      responses:
        '200':
          description: >
            An array containing custom dashboard metric query objects,
            potentially narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomDashboardMetricQuery'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Custom Dashboard
      summary: Creates a new custom dashboard metric query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDashboardMetricQuery'
      responses:
        '200':
          description: >
            A json object containing details about the custom dashboard metric
            query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDashboardMetricQuery'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/metric_query/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Custom Dashboard
      summary: Retrieves details for a specific custom dashboard metric query.
      responses:
        '200':
          description: >
            A json object containing details about the custom dashboard metric
            query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDashboardMetricQuery'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Custom Dashboard
      summary: Updates details for a specific custom dashboard metric query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDashboardMetricQuery'
      responses:
        '200':
          description: >
            A json object containing details about the custom dashboard metric
            query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDashboardMetricQuery'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Custom Dashboard
      summary: Removes the specified custom dashboard metric query.
      responses:
        '200':
          description: |
            The custom dashboard metric query was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /custom_dashboard/widget:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Custom Dashboard
      summary: Fetch a list of custom dashboard widgets.
      responses:
        '200':
          description: >
            An array containing custom dashboard widget objects, potentially
            narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/CustomDashboardWidgetBase'
                    - $ref: '#/components/schemas/CustomDashboardWidgetCountsGrid'
                    - $ref: '#/components/schemas/CustomDashboardWidgetChart'
                    - $ref: '#/components/schemas/CustomDashboardWidgetGraph'
                    - $ref: '#/components/schemas/CustomDashboardWidgetHealthBar'
                    - $ref: '#/components/schemas/CustomDashboardWidgetList'
                    - $ref: '#/components/schemas/CustomDashboardWidgetSingle'
                    - $ref: '#/components/schemas/CustomDashboardWidgetTable'
                    - $ref: '#/components/schemas/CustomDashboardWidgetTileMap'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Custom Dashboard
      summary: Creates a new custom dashboard widget.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CustomDashboardWidgetBase'
                - $ref: '#/components/schemas/CustomDashboardWidgetCountsGrid'
                - $ref: '#/components/schemas/CustomDashboardWidgetChart'
                - $ref: '#/components/schemas/CustomDashboardWidgetGraph'
                - $ref: '#/components/schemas/CustomDashboardWidgetHealthBar'
                - $ref: '#/components/schemas/CustomDashboardWidgetList'
                - $ref: '#/components/schemas/CustomDashboardWidgetSingle'
                - $ref: '#/components/schemas/CustomDashboardWidgetTable'
                - $ref: '#/components/schemas/CustomDashboardWidgetTileMap'
      responses:
        '200':
          description: |
            A json object containing details about the custom dashboard widget.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CustomDashboardWidgetBase'
                  - $ref: '#/components/schemas/CustomDashboardWidgetCountsGrid'
                  - $ref: '#/components/schemas/CustomDashboardWidgetChart'
                  - $ref: '#/components/schemas/CustomDashboardWidgetGraph'
                  - $ref: '#/components/schemas/CustomDashboardWidgetHealthBar'
                  - $ref: '#/components/schemas/CustomDashboardWidgetList'
                  - $ref: '#/components/schemas/CustomDashboardWidgetSingle'
                  - $ref: '#/components/schemas/CustomDashboardWidgetTable'
                  - $ref: '#/components/schemas/CustomDashboardWidgetTileMap'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/widget/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Custom Dashboard
      summary: Retrieves details for a specific custom dashboard widget.
      responses:
        '200':
          description: |
            A json object containing details about the custom dashboard widget.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CustomDashboardWidgetBase'
                  - $ref: '#/components/schemas/CustomDashboardWidgetCountsGrid'
                  - $ref: '#/components/schemas/CustomDashboardWidgetChart'
                  - $ref: '#/components/schemas/CustomDashboardWidgetGraph'
                  - $ref: '#/components/schemas/CustomDashboardWidgetHealthBar'
                  - $ref: '#/components/schemas/CustomDashboardWidgetList'
                  - $ref: '#/components/schemas/CustomDashboardWidgetSingle'
                  - $ref: '#/components/schemas/CustomDashboardWidgetTable'
                  - $ref: '#/components/schemas/CustomDashboardWidgetTileMap'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Custom Dashboard
      summary: Updates details for a specific custom dashboard widget.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CustomDashboardWidgetBase'
                - $ref: '#/components/schemas/CustomDashboardWidgetCountsGrid'
                - $ref: '#/components/schemas/CustomDashboardWidgetChart'
                - $ref: '#/components/schemas/CustomDashboardWidgetGraph'
                - $ref: '#/components/schemas/CustomDashboardWidgetHealthBar'
                - $ref: '#/components/schemas/CustomDashboardWidgetList'
                - $ref: '#/components/schemas/CustomDashboardWidgetSingle'
                - $ref: '#/components/schemas/CustomDashboardWidgetTable'
                - $ref: '#/components/schemas/CustomDashboardWidgetTileMap'
      responses:
        '200':
          description: |
            A json object containing details about the custom dashboard widget.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CustomDashboardWidgetBase'
                  - $ref: '#/components/schemas/CustomDashboardWidgetCountsGrid'
                  - $ref: '#/components/schemas/CustomDashboardWidgetChart'
                  - $ref: '#/components/schemas/CustomDashboardWidgetGraph'
                  - $ref: '#/components/schemas/CustomDashboardWidgetHealthBar'
                  - $ref: '#/components/schemas/CustomDashboardWidgetList'
                  - $ref: '#/components/schemas/CustomDashboardWidgetSingle'
                  - $ref: '#/components/schemas/CustomDashboardWidgetTable'
                  - $ref: '#/components/schemas/CustomDashboardWidgetTileMap'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Custom Dashboard
      summary: Removes the specified custom dashboard widget.
      responses:
        '200':
          description: |
            The custom dashboard widget was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /custom_dashboard/user_favorite:
    post:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Creates a new user favorite for a
        custom dashboard, service dashboard, or legacy dashboard.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CustomDashboardUserFavorite'
                - $ref: '#/components/schemas/CustomDashboardUserFavoriteServiceDashboard'
                - $ref: '#/components/schemas/CustomDashboardUserFavoriteLegacyDashboard'
      responses:
        '200':
          description: >-
            A json object containing details about the custom dashboard,
            service dashboard, or legacy dashboard user favorite.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CustomDashboardUserFavorite'
                  - $ref: '#/components/schemas/CustomDashboardUserFavoriteServiceDashboard'
                  - $ref: '#/components/schemas/CustomDashboardUserFavoriteLegacyDashboard'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/user_favorite/{user_id}':
    parameters:
      - name: user_id
        in: path
        description: id of the user
        required: true
        example: 4242
        schema:
          type: integer
          minimum: 1
    get:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Fetches a list of custom dashboard,
        service dashboard, and legacy dashboard user favorites for a
        specified user id.
      responses:
        '200':
          description: >
            A list of objects containing details about custom dashboard,
            service dashboard, and legacy dashboard  user favorites for a
            specified user id.
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/CustomDashboardUserFavorite'
                    - $ref: '#/components/schemas/CustomDashboardUserFavoriteServiceDashboard'
                    - $ref: '#/components/schemas/CustomDashboardUserFavoriteLegacyDashboard'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/user_favorite/current':
    get:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Fetches a list of custom dashboard,
        service dashboard, and legacy dashboard user favorites for the user id
        associated with the credentials passed.
      responses:
        '200':
          description: >
            A list of objects containing details about custom dashboard,
            service dashboard, and legacy dashboard user favorites.
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/CustomDashboardUserFavorite'
                    - $ref: '#/components/schemas/CustomDashboardUserFavoriteServiceDashboard'
                    - $ref: '#/components/schemas/CustomDashboardUserFavoriteLegacyDashboard'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/user_favorite/{user_id}/{custom_dashboard_uuid}':
    parameters:
      - name: user_id
        in: path
        description: id of the user
        required: true
        example: 4242
        schema:
          type: integer
          minimum: 1
      - name: custom_dashboard_uuid
        in: path
        description: uuid of the custom dashboard
        required: true
        example: f1513f29-5b56-4623-bedb-a125bbc1caaa
        schema:
          type: string
          format: uuid
    delete:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Removes the specified custom dashboard
        user favorite, specified by user id and custom dashboard uuid.
      responses:
        '200':
          description: |
            The custom dashboard user favorite was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/user_favorite/current/{custom_dashboard_uuid}':
    parameters:
      - name: custom_dashboard_uuid
        in: path
        description: uuid of the custom dashboard
        required: true
        example: f1513f29-5b56-4623-bedb-a125bbc1caaa
        schema:
          type: string
          format: uuid
    delete:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Removes the specified custom dashboard
        user favorite for the user associated with the credentials passed.
      responses:
        '200':
          description: |
            The custom dashboard user favorite was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/user_favorite/service_dashboard/{user_id}/{service_dashboard_check_uuid}':
    parameters:
      - name: user_id
        in: path
        description: id of the user
        required: true
        example: 4242
        schema:
          type: integer
          minimum: 1
      - name: service_dashboard_check_uuid
        in: path
        description: uuid of the check for the service dashboard
        required: true
        example: f1513f29-5b56-4623-bedb-a125bbc1caaa
        schema:
          type: string
          format: uuid
    delete:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Removes the specified service
        dashboard user favorite, specified by user id and service dashboard
        check uuid.
      responses:
        '200':
          description: |
            The service dashboard user favorite was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/user_favorite/service_dashboard/current/{service_dashboard_check_uuid}':
    parameters:
      - name: service_dashboard_check_uuid
        in: path
        description: uuid of the check for the service dashboard
        required: true
        example: f1513f29-5b56-4623-bedb-a125bbc1caaa
        schema:
          type: string
          format: uuid
    delete:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Removes the specified service
        dashboard user favorite for the user associated with the credentials
        passed.
      responses:
        '200':
          description: |
            The service dashboard user favorite was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/user_favorite/dashboard/{user_id}/{dashboard_id}':
    parameters:
      - name: user_id
        in: path
        description: id of the user
        required: true
        example: 4242
        schema:
          type: integer
          minimum: 1
      - name: dashboard_id
        in: path
        description: ID of the legacy dashboard to remove from favorites
        required: true
        example: 1234
        schema:
          type: integer
    delete:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Removes the specified legacy dashboard
        user favorite, specified by user id and legacy dashboard id.
      responses:
        '200':
          description: |
            The legacy dashboard user favorite was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/user_favorite/dashboard/current/{dashboard_id}':
    parameters:
      - name: dashboard_id
        in: path
        description: ID of the legacy dashboard to remove from favorites
        required: true
        example: 1234
        schema:
          type: integer
    delete:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Removes the specified legacy dashboard
        user favorite for the user associated with the credentials passed.
      responses:
        '200':
          description: |
            The legacy dashboard user favorite was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /custom_dashboard/user_default:
    post:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Creates a new user default for a
        custom dashboard, service dashboard, or legacy dashboard.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomDashboardUserDefault'
      responses:
        '200':
          description: >-
            A json object containing details about the custom dashboard,
            service dashboard, or legacy dashboard user favorite.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDashboardUserDefault'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/user_default/{user_id}':
    parameters:
      - name: user_id
        in: path
        description: id of the user
        required: true
        example: 4242
        schema:
          type: integer
          minimum: 1
    get:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Fetches a single dashboard user
        default for a specified user id and the account of the credentials
        passed with the request.
      responses:
        '200':
          description: >
            An object containing details about a dashboard user default
            for a specified user id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDashboardUserDefault'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Removes the dashboard user default,
          specified by user id and the account of the credentials passed with
          the request.
      responses:
        '200':
          description: |
            The dashboard user default was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/custom_dashboard/user_default/current':
    get:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Fetches a single dashboard user
        default for the user and account associated with the credentials
        passed.
      responses:
        '200':
          description: >
            An object containing details about a dashboard user default.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDashboardUserDefault'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      deprecated: true
      tags:
        - Custom Dashboard
      summary: >-
        EXPERIMENTAL: Subject to change. Removes the specified dashboard
        user default for the user and account associated with the credentials
        passed.
      responses:
        '200':
          description: |
            The dashboard user default was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /dashboard:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Dashboard
      summary: Fetch a list of dashboards.
      responses:
        '200':
          description: >
            An array containing dashboard objects, potentially narrowed using
            search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dashboard'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Dashboard
      summary: Creates a new dashboard.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
      responses:
        '200':
          description: |
            A json object containing details about the dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/dashboard/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Dashboard
      summary: Retrieves details for a specific dashboard.
      responses:
        '200':
          description: |
            A json object containing details about the dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Dashboard
      summary: >
        Updates details for a specific dashboard.  Be sure to include all fields
        when updating, even the ones that are not being changed, or the omitted
        fields could be removed or replaced by default values.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
      responses:
        '200':
          description: |
            A json object containing details about the dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Dashboard
      summary: >
        You cannot completely remove dashboards from the system, but you can
        hide the dashboard from the web interface and from API listings by
        performing a DELETE request on the dashboard cid.  Doing this will also
        set the dashboard's "active" state to false.
      responses:
        '200':
          description: |
            The dashboard was successfully deactivated.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/data/{id}':
    parameters:
      - name: id
        in: path
        description: >-
          Combination of the numeric check_id, an underscore, and then the
          metric name.  <check_id>_<metric_name>
        required: true
        example: 1234_cpu
        schema:
          type: string
    get:
      tags:
        - Data
      parameters:
        - in: query
          name: type
          required: true
          schema:
            type: string
            enum:
              - text
              - numeric
              - histogram
          description: >-
            The type of data you wish to extract.  Please note that the type of
            data, changes the structure of the response object you will get
            back.
        - in: query
          name: start
          required: true
          schema:
            type: integer
          description: >-
            The start time, in epoch seconds, of the duration you wish to export
            data from.
          example: 1579187990
        - in: query
          name: end
          required: true
          schema:
            type: integer
          description: >-
            The end time, in epoch seconds, of the duration you wish to export
            data from.
          example: 1579187990
        - in: query
          name: period
          schema:
            type: integer
            enum:
              - 60
              - 300
              - 1800
              - 10800
              - 86400
          description: >-
            For numeric and histogram types only (not text). The resolution of
            data you want to get back, in seconds.
          example: 1579187990
        - in: query
          name: format
          schema:
            type: string
            enum:
              - legacy
              - tuple
              - object
          description: >
            This parameter is for numeric type data only, otherwise it is
            ignored.  This determines the return format of the data field.
            `legacy` is the original format where each record is [<timestamp>,
            <object of values>], `tuple` where each record is a JSON array of
            just numeric value fields with no field identifiers, or `object`
            where each record is a JSON object with field identifier.
        - in: query
          name: format_fields
          schema:
            type: string
          description: >
            Required for `tuple` or `object` format types.  This is a list of
            comma-separated fields to return. For tuples, this also controls the
            order they should be returned in the array.  In typical use, often
            only "timestamp,value" are used, but optionally any of the computed
            values stored under the legacy format object may be returned as
            well. e.g. count, derivative, stddev, etc.
          example: 'timestamp,value'
      summary: >-
        The data endpoint provides a simple way to extract data from Circonus.
        Please note that this is a BETA API endpoint, and is subject to change
        without notice.
      responses:
        '200':
          description: >
            A json object containing details about the requested data.  There
            are several different format types that can be returned based on
            other request parameters.  These are first controlled by the `type`
            parameter. Numeric types are further selected by the `format`
            parameter, with the fields controlled by the `format_fields`
            parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Data'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /graph:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Graph
      summary: Fetch graphs for the account
      responses:
        '200':
          description: >
            An array containing graphs; narrowed using search and pagination
            parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Graph'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Graph
      summary: Creates a new graph.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Graph'
      responses:
        '200':
          description: |
            A json object containing details about the graph.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Graph'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/graph/{uuid}':
    parameters:
      - $ref: '#/components/parameters/objectPathUUId'
    get:
      tags:
        - Graph
      summary: Retrieves details for a specific graph.
      responses:
        '200':
          description: |
            A json object containing details about the graph.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Graph'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Graph
      summary: Updates details for a specific graph.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Graph'
      responses:
        '200':
          description: |
            A json object containing details about the graph.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Graph'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Graph
      summary: Removes the specified graph.
      responses:
        '200':
          description: |
            The graph was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /maintenance:
    get:
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
      tags:
        - Maintenance
      summary: >
        Retrieves a list of all maintenance windows that have not yet
        expired/stopped.  It is not possible to list maintenance windows that
        have already expired.  Details on past windows can still be fetched with
        the `GET /maintenance/{id}` endpoint.
      responses:
        '200':
          description: >
            An array containing maintenance windows associated with the request
            account, or narrowed using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Maintenance'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Maintenance
      summary: >
        Creates a new maintenance window.  Maintenance windows can be created
        for a number of different types that apply to everything under that
        type.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Maintenance'
      responses:
        '200':
          description: |
            A json object containing details about the maintenance window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Maintenance'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/maintenance/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Maintenance
      summary: Retrieves details for a specific maintenance window.
      responses:
        '200':
          description: |
            A json object containing details about the maintenance window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Maintenance'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Maintenance
      summary: >
        Updates details for a specific maintenance window.  The `type` and
        `item` of a maintenance window cannot be changed.   Once the window has
        started, the `start` parameter cannot be changed.  Once the window as
        closed, the `stop` parameter cannot be changed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Maintenance'
      responses:
        '200':
          description: |
            A json object containing details about the maintenance window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Maintenance'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Maintenance
      summary: >
        Removes the specified maintenance window if the window has not yet
        started.  Once started maintenance windows cannot be deleted.  If it
        hasn't stopped yet you can stop it right away by updating it to stop at
        the current time using the `PUT /maintenance/{id}` endpoint.
      responses:
        '200':
          description: |
            The maintenance window was successfully removed.
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metric:
    get:
      parameters:
        - $ref: '#/components/parameters/metricSearchParam'
        - $ref: '#/components/parameters/metricLimitParam'
        - $ref: '#/components/parameters/metricSortParam'
        - $ref: '#/components/parameters/sortDirParam'
        - in: query
          name: activity_start_secs
          schema:
            type: integer
            default: one month before now
          description: >
            The start of the range of time in which to search for metric
            activity in IRONdb. The value must be an integer representing the
            number of seconds since the Unix epoch. The default value used, if
            omitted, is one month before the current time.  For convenience this
            parameter key can also simply be called "start" rather than
            "activity_start_secs".
          example: 1579188290
        - in: query
          name: activity_end_secs
          schema:
            type: integer
            default: now
          description: >
            The start of the range of time in which to search for metric
            activity in IRONdb. The value must be an integer representing the
            number of seconds since the Unix epoch. The default value used, if
            omitted, the current time.  For convenience this parameter key can
            also simply be called "end" rather than "activity_end_secs".
          example: 1579188290
        - in: query
          name: active_start
          schema:
            type: integer
            default: eight hours before now
          description: >
            This allows you to change what time period is compared against for
            determining the boolean `_active` value of the metric.  This
            parameter is not often used.  This controls the start of the range
            of time in which, if metric activity is found in IRONdb, the metric
            will be considered active.  The value must be an integer
            representing the number of seconds since the Unix epoch. The default
            value used is eight hours before the current time.
          example: 1579188290
        - in: query
          name: active_end
          schema:
            type: integer
            default: now
          description: >
            This allows you to change what time period is compared against for
            determining the boolean `_active` value of the metric.  This
            parameter is not often used.  This controls the end of the range of
            time in which, if metric activity is found in IRONdb, the metric
            will be considered active.  The value must be an integer
            representing the number of seconds since the Unix epoch. The default
            value used is the current time.
          example: 1579188290
      tags:
        - Metric
      summary: >
        Search endpoint for information about individual metrics.  The cid for a
        Metric consists of the Check ID followed by an underscore  followed by
        the metric name.
      responses:
        '200':
          description: >
            An array containing metrics associated with a check, or narrowed
            using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Metric'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/metric_old:
    get:
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/offsetParam'
        - $ref: '#/components/parameters/sortParam'
        - $ref: '#/components/parameters/sortDirParam'
        - in: query
          name: activity_start_secs
          schema:
            type: integer
            default: one month before now
          description: >
            The start of the range of time in which to search for metric
            activity in IRONdb. The value must be an integer representing the
            number of seconds since the Unix epoch. The default value used, if
            omitted, is one month before the current time.  For convenience this
            parameter key can also simply be called "start" rather than
            "activity_start_secs".
          example: 1579188290
        - in: query
          name: activity_end_secs
          schema:
            type: integer
            default: now
          description: >
            The start of the range of time in which to search for metric
            activity in IRONdb. The value must be an integer representing the
            number of seconds since the Unix epoch. The default value used, if
            omitted, the current time.  For convenience this parameter key can
            also simply be called "end" rather than "activity_end_secs".
          example: 1579188290
      tags:
        - Metric
      summary: >
        This is the old, deprecated version of the search endpoint for 
        information about individual metrics.  The cid for a
        Metric consists of the Check ID followed by an underscore  followed by
        the metric name.
      responses:
        '200':
          description: >
            An array containing metrics associated with a check, or narrowed
            using search and pagination parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Metric'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/metric/{id}':
    parameters:
      - $ref: '#/components/parameters/objectPathId'
    get:
      tags:
        - Metric
      summary: Retrieves details for a specific metric.
      responses:
        '200':
          description: |
            A json object containing details about the metric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Metric
      summary: >
        All modifications of metric data should be done through the Check Bundle
        endpoints.  This endpoint no longer has useful functionality  but is
        maintained to avoid breaking any integrations against it.  Previously
        written PUTs will continue to work, but the changes are discarded.
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metric'
      responses:
        '200':
          description: |
            A json object containing details about the metric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/promql/query':
    get:
      tags:
        - PromQL
      summary: |
        Evaluates a PromQL expression query at a single point in time.
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: true
          description: |
            A PromQL expression query string.
        - in: query
          name: time
          schema:
            type: string
          description: |
            The timestamp for the query, in either epoch seconds, or RFC3339
            timestamp format.
        - in: query
          name: timeout
          schema:
            type: string
          description: |
            An optional evaluation timeout in duration format. All API requests
            will timeout in 30s regardless of any higher value set here.
      responses:
        '200':
          description: |
            The results of the query contained in a PromQL response envelope.
          headers:
            X-Circonus-Cached-Result:
              schema:
                type: boolean
              description: |
                Indicates that the response was pulled from cached data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromQLResponse'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          headers:
            X-Circonus-Cached-Result:
              schema:
                type: boolean
              description: |
                Indicates that the response was pulled from cached data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - PromQL
      summary: |
        Evaluates a PromQL expression query at a single point in time.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PromQLInstantQuery'
          application/json:
            schema:
              $ref: '#/components/schemas/PromQLInstantQuery'
      responses:
        '200':
          description: |
            The results of the query contained in a PromQL response envelope.
          headers:
            X-Circonus-Cached-Result:
              schema:
                type: boolean
              description: |
                Indicates that the response was pulled from cached data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromQLResponse'
        default:
          description: >-
            Some sort of error occurred during the request.  The response will
            include information about the cause of the error.
          headers:
            X-Circonus-Cached-Result:
              schema:
                type: boolean
              description: |
                Indicates that the response was pulled from cached data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/promql/query_range':
    get:
      tags:
        - PromQL
      summary: |
        Evaluates a PromQL expression query over a range of time.
      parameters:
        - in: query
          name: query
          schema:
            type: string
          required: true
          description: |
            A PromQL expression query string.
        - in: query
          name: start
          schema:
            type: string
          required: true
[...]
