.tab-container {
  height: 400px; /* Adjust the height as needed */
}
/* 
.smallTab[aria-selected='true'] {
    border-bottom: 1px transparent;
} */


.largeTab[aria-selected='true'] {
    color: white;
    background: var(--ifm-tabs-color-active);
    border-radius: var(--ifm-global-radius)
}

/* 
Overriding all Iframes.
Need to set this up to only target specific iframes
*/ 
Iframe {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}
